#!/bin/sh

touch /etc/config/rtk_sysctl

uci -q batch <<-EOF >/dev/null
	delete ucitrack.@rtk_sysctl[-1]
	add ucitrack rtk_sysctl
	set ucitrack.@rtk_sysctl[-1].init=rtk_sysctl
	set ucitrack.@rtk_sysctl[-1].exec=/etc/init.d/rtk_sysctl start
	commit ucitrack
	
	add rtk_sysctl sysctl
	set rtk_sysctl.@sysctl[-1].key='vm.min_free_kbytes'
	set rtk_sysctl.@sysctl[-1].value='4096'
	commit rtk_sysctl
EOF

exit 0
