[config]
mode=ubi
vol_size=10MiB
vol_id=0
vol_type=dynamic
vol_name=ubi_Config
[DTB0]
mode=ubi
vol_size=256KiB
vol_id=1
image=dtb.img
vol_type=dynamic
vol_name=ubi_DTB0
[kernel0]
mode=ubi
image=Image.lzma
vol_id=2
vol_size=6MiB
vol_type=dynamic
vol_name=ubi_k0
[rootfs0]
mode=ubi
image=rootfs
vol_id=3
vol_size=32MiB
vol_type=dynamic
vol_name=ubi_r0
[DTB1]
mode=ubi
vol_size=256KiB
vol_id=4
#image=./images/dtb.img
vol_type=dynamic
vol_name=ubi_DTB1
[kernel1]
mode=ubi
#image=./images/Image.lzma
vol_id=5
vol_size=6MiB
vol_type=dynamic
vol_name=ubi_k1
[rootfs1]
mode=ubi
#image=./images/rootfs
vol_id=6
vol_size=32MiB
vol_type=dynamic
vol_name=ubi_r1
[framework1]
mode=ubi
#image=
vol_id=7
vol_size=8MiB
vol_type=dynamic
vol_name=ubi_framework1
[framework2]
mode=ubi
#image=
vol_id=8
vol_size=8MiB
vol_type=dynamic
vol_name=ubi_framework2
[apps]
mode=ubi
#image=
vol_id=9
vol_size=48MiB
vol_type=dynamic
vol_name=rootfs_data
#vol_flags=autoresize
[SecureStorage]
mode=ubi
vol_size=10MiB
vol_id=10
vol_type=dynamic
vol_name=Secure_Storage
