[config]
mode=ubi
vol_size=10752KiB
vol_id=0
vol_type=dynamic
vol_name=ubi_Config
[kernel0]
mode=ubi
image=uImage
vol_id=1
vol_size=10MiB
vol_type=dynamic
vol_name=ubi_k0
[rootfs0]
mode=ubi
image=rootfs
vol_id=2
vol_size=25MiB
vol_type=dynamic
vol_name=ubi_r0
[kernel1]
mode=ubi
image=uImage
vol_id=3
vol_size=10MiB
vol_type=dynamic
vol_name=ubi_k1
[rootfs1]
mode=ubi
image=rootfs
vol_id=4
vol_size=25MiB
vol_type=dynamic
vol_name=ubi_r1
[rootfs_data]
mode=ubi
vol_id=5
vol_size=2MiB
vol_type=dynamic
vol_name=rootfs_data
vol_flags=autoresize
#[framework1]
#mode=ubi
#vol_id=5
#vol_size=8MiB
#vol_type=dynamic
#vol_name=ubi_framework1
#[framework2]
#mode=ubi
#vol_id=6
#vol_size=8MiB
#vol_type=dynamic
#vol_name=ubi_framework2
#[apps]
#mode=ubi
#vol_id=7
#vol_size=36MiB
#vol_type=dynamic
#vol_name=ubi_apps

